body{
	display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

p {
	margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
	background-color: #1F2937;
	color: white;
	display: flex;
	justify-content: center;
	padding: 16px;
	align-content: center;
}

.header-logo {
	font-size: 24px;
	color: #F9FAF8;
	font-weight: bold;
}

.header-links {
	display: flex;
	gap: 16px;
	margin-left: auto;
	font-size: 18px;
	color: #E5E7EB;
}

.section {
	display: flex;
	justify-content: center;
	padding: 100px 0px;
	gap: 50px;
}

.container {
	width: 1000px;
	display: flex;
	gap: 20px;
	justify-content: center;
}

.section-one {
	background-color: #1F2937;
	color: #F9FAF8;
}


.section-one .container > * {
	flex: 1;
}

.section-two {
	text-align: center;
	border-radius: 16px;
}
.section-two .container {
	flex-direction: column;
	width: 800px;
}

.section-two img {
	border-radius: 16px;
}

.card-container{
	display: flex;
	justify-content: center;
	gap: 50px;
}

.hero-title {
	font-size: 48px;
	font-weight: 900;
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	align-items: flex-start;
}

button {
	background-color: #3992F6;
	color: white;
	padding: 8px 16px;
	border-radius: 5px;
	border-style: none;
}